{% extends 'games/nav.html' %}
{% load static %}

{% block content %}
<!-- request.user에 대한 name수정해야함 -->
<p class="m-4">현재 플레이어: {{ request.user }}</p>
<hr />
<div class="container text-center">
    {% for game in games %}
    <div class="row m-4">
    <div class="col">
    <p class="list_my_player">{{ game.id }} - {{ game.player }} VS {{ game.my_player }} </p>
    </div>
    <div class="col">
    {% if game.state != 1 %}
        {% if game.my_player == request.user %}
            <p class="list_state">진행중... <a class="btn btn-outline-success btn-sm fw-bold border-2" href="{% url 'games:delete' game.pk %}">게임 취소</a></p>
            
        {% else %}
            <p><a class="btn btn-outline-success btn-sm fw-bold border-2" href="/game/{{game.id}}/revenge">반격하기</a></p>
        {% endif %}
    {% else %}
        {% if game.my_player == request.user %}
            {% if game.result > 0 %}
                <p class="state">결과: 승리</p>
            {% else %}
                <p class="state">결과: 패배</p>
            {% endif %}
        {% else %}
            {% if game.result > 0 %}
                <p class="state">결과: 패배</p>
            {% else %}
                <p class="state">결과: 승리</p>
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
    <div class="col">
    {% if game.state == 0 %}
        <p><a class="btn btn-outline-success btn-sm fw-bold border-2 "href="{% url 'games:detail_progress' pk=game.pk %}">게임정보</a></p>
    {% elif game.state == 1 %}
        <p><a class="btn btn-outline-success btn-sm fw-bold border-2"href="{% url 'games:detail_result' pk=game.pk %}">게임정보</a></p>
    {% else %}
        <p><a class="btn btn-outline-success btn-sm fw-bold border-2" href="{% url 'games:detail_respond' pk=game.pk %}">게임정보</a></p>
    {% endif %}
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}