{% extends 'games/nav.html' %}
{% load static %}

{% block content %}
<div class="text-center mt-4">
    <p>{{ game.id }}-{{ game.player }} VS {{ game.my_player }}</p>
    <hr>
    <!-- 0이 숫자가 작은 사람이 이기는거, 1이 숫자가 큰 사람이 이기는 걸로 -->
    {% if game.mode == 0 %}
    <p>숫자가 더 작은 사람이 대결에서 이깁니다</p>
    {% elif game.mode == 1 %}
    <p>숫자가 더 큰 사람이 대결에서 이깁니다</p>
    {% endif %}
    <hr>
    <p>{{game.player}} : {{game.player_card}} </p>
    <p>{{game.my_player}} : {{game.my_card}}</p>
    <hr>
    <!-- 결과가 승리인지 패인지 저장하는 변수 안만들어도 되나..? -->
    {% if game.result > 0 %}
    <p>결과 : 승리</p>
    {% else %}
    <p>결과 : 패배</p>
    {% endif %}
    <hr>
    <p>점수 : {{game.result}}점</p>
    <!-- 전적목록으로 돌아가도록 -->
    <a class="btn btn-outline-success btn-sm fw-bold border-2" href="/list" >전적목록</a>
</div>
{% endblock %}