{% extends 'games/nav.html' %} 
{% load static %} 
{% block content %}
<div>
    <p>내가 고른 카드</p>
    <form method="post" action="{% url 'games:game_attack' %}">
        {% csrf_token %}
        <label for="selected_card">내가 고른 카드</label>
        <select name="selected_card" id="selected_card">
            {% for card in random_cards %}
                <option value="{{ card }}">{{ card }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="sort">공격할 상대는?</label>
        <select name="player_id" id="player_id">
            {% for player in players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="선택 완료 및 공격">
    </form>
</div>
{% endblock %}
